# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
.env

# Logs
logs/
*.log

# Streamlit
.streamlit/secrets.toml

# Temp files
/assets/audio/*.m4a
/assets/audio/*.mp3
/assets/audio/*.wav

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
